<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="SwdOtomation.listeners"/>

</listeners>

   <test name="validate home page Test">
    <classes>
      <class name="SwdOtomation.HomepageTest"/>
        </classes>
  </test>
  <test name="validate text Test">
    <classes>
      <class name="SwdOtomation.testText"/>
        </classes>
  </test>
   
      <test name="validat enavigation bar Test">
    <classes>
      <class name="SwdOtomation.testNavigation"/>
        </classes>
  </test>
      <test name="app Test">
    <classes>
      <class name="SwdOtomation.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
